<a href="https://colab.research.google.com/github/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/blob/main/Dia_1-Importando_dados/Dia_1_Importacao_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dia 1 - Importação de dados

In [ ]:
import pandas as pd

In [ ]:
dados_2010_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/36a2c54d-0ed6-46bd-a3e9-161c39c0eac6/download/emprestimos-20101.csv',sep=';')
dados_2010_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/b954b071-5d8f-43d0-b956-e47c9922cc1a/download/emprestimos-20102.csv',sep=';')
dados_2011_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/bae6ed0a-9430-4d5c-9b90-72ffe6e023df/download/emprestimos-20111.csv',sep=';')
dados_2011_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/629c232f-7249-4dbd-8928-0c53af7e9b2a/download/emprestimos-20112.csv',sep=';')
dados_2012_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/f9540095-6894-4ffa-b10d-b0ffbb17aa5f/download/emprestimos-20121.csv',sep=';')
dados_2012_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/7bec7701-0778-43f8-a327-540c6ec94fb6/download/emprestimos-20122.csv',sep=';')
dados_2013_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/c54c4556-1ca2-4918-963d-f066082e4ee0/download/emprestimos-20131.csv',sep=';')
dados_2013_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/043d7156-67e9-4492-9ec7-8b7353b47bfa/download/emprestimos-20132.csv',sep=';')
dados_2014_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/8e97f632-a6fe-4349-b06b-f650e804a7b9/download/emprestimos-20141.csv',sep=';')
dados_2014_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/832df6b3-ccb0-4370-832b-193a2fe90085/download/emprestimos-20142.csv',sep=';')
dados_2015_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/2d18b7a9-b458-4668-8858-037c55049d40/download/emprestimos-20151.csv',sep=';')
dados_2015_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/f07e4501-8632-487f-adf0-116d5b6fb4fe/download/emprestimos-20152.csv',sep=';')
dados_2016_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/17955462-aa54-45c7-9820-e9ab7d128be4/download/emprestimos-20161.csv',sep=';')
dados_2016_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/04ed856a-c6bd-4c67-a08b-ad7f382dcd7e/download/emprestimos-20162.csv',sep=';')
dados_2017_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/54f56d6f-a5cc-41d9-88d6-4f4292fe26bc/download/emprestimos-20171.csv',sep=';')
dados_2017_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/79d668de-5d2a-4c1e-ad62-5f2933d36600/download/emprestimos-20172.csv',sep=';')
dados_2018_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/5cac670e-a90f-4ba3-95f5-65b7d82a538a/download/emprestimos-20181.csv',sep=';')
dados_2018_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/02a9e1d6-900c-450e-8e8f-90fac8125a96/download/emprestimos-20182.csv',sep=';')
dados_2019_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/66f1737b-5732-4029-8b22-2698be3e24ca/download/emprestimos-20191.csv',sep=';')
dados_2019_2 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/51786bd8-e61c-4e4d-8ff9-51602f4e37e3/download/emprestimos-20192.csv',sep=';')
dados_2020_1 = pd.read_csv('https://dados.ufrn.br/dataset/1e596793-1ac3-4b59-9ae8-f053eda6b698/resource/c7e609a6-0daf-449b-8564-1876be6e69d5/download/emprestimos-20201.csv',sep=';')

In [ ]:
emprestimos_biblioteca = pd.concat([dados_2010_1,dados_2010_2,dados_2011_1,dados_2011_2,dados_2012_1,dados_2012_2,dados_2013_1,dados_2013_2,dados_2014_1,
                                    dados_2014_2,dados_2015_1,dados_2015_2,dados_2016_1,dados_2016_2,dados_2017_1,dados_2017_2,dados_2018_1,dados_2018_2,
                                    dados_2019_1,dados_2019_2,dados_2020_1],ignore_index=True)
emprestimos_biblioteca

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,GUSTAVO DE SOUZA MEDEIR0S,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,BISMARCK LUIZ SILVA,ALUNO DE GRADUAÇÃO
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,THIAGO LUCENA DE MACEDO GUEDES,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...,...
2257976,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257977,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257978,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,MAYONARA FABIOLA SILVA ARAUJO,SERVIDOR TÉCNICO-ADMINISTRATIVO
2257979,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO
2257980,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,AMANDA NOGUEIRA MEDEIROS,ALUNO DE PÓS-GRADUAÇÃO

In [ ]:
emprestimos_biblioteca.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  nome_usuario                                tipo_vinculo_usuario
2433391        2013109357     2017/05/22 23:14:56.152000000  2017/05/08 14:46:55.784000000  2017/06/06 18:40:23.000000000  2.016019e+09        KLYFTON STANLEY FERNANDES DA SILVA QUEIROZ  ALUNO DE GRADUAÇÃO        2
2384297        2009036111     2017/03/27 10:36:05.024000000  2017/03/09 12:09:38.663000000  2017/04/20 14:07:26.000000000  2.015400e+10        VANESSA DE PAIVA MELO                       ALUNO DE PÓS-GRADUAÇÃO    2
2384292        2013077602     2017/03/22 08:49:02.962000000  2017/03/09 12:04:50.106000000  2017/04/10 16:50:18.000000000  2.017014e+10        ISABELA AZEVEDO MEDEIROS DO NASCIMENTO      ALUNO DE GRADUAÇÃO        2
2384289        2014000896     2017/03/24 11:02:03.616000000  2017/03/09 12:03:28.507000000  2017/03/30 08:18:20.000000000  2.016013e+10        EMANOEL VITORIO FERREIRA ANANIAS            ALUNO DE GRADUAÇÃO        2
2384288        2006033777     2017/03/24 11:02:03.667000000  2017/03/09 12:03:28.439000000  2017/03/30 08:18:26.000000000  2.016013e+10        EMANOEL VITORIO FERREIRA ANANIAS            ALUNO DE GRADUAÇÃO        2
                                                                                                                                                                                                                    ..
1409724        2011052993     2013/02/18 11:42:51.866000000  2013/02/04 09:40:15.322000000  2013/03/06 15:51:22.000000000  2.012964e+09        JALLYNE NUNES VIEIRA                        ALUNO DE GRADUAÇÃO        1
1409725        2010030999     2013/02/19 14:50:23.773000000  2013/02/04 09:40:35.709000000  2013/03/06 18:40:21.000000000  2.009051e+09        DANIEL ANDERSON XAVIER SOUZA                ALUNO DE GRADUAÇÃO        1
1409728        2007023306     2013/02/18 19:34:50.113000000  2013/02/04 09:40:51.264000000  2013/02/25 13:44:14.000000000  2.011038e+09        PRISCILA FERREIRA DA COSTA                  ALUNO DE GRADUAÇÃO        1
1409729        2010049655     2013/02/19 17:54:56.786000000  2013/02/04 09:41:03.685000000  2013/03/06 10:50:44.000000000  2.012964e+09        JESSICA RAISSA CARLOS GOMES                 ALUNO DE GRADUAÇÃO        1
2989064        S023116        2021/07/19 16:17:24.750000000  2020/03/17 21:40:52.879000000  2021/10/18 10:32:30.000000000  2.018001e+10        WILLYENNE GOMES DE LIMA                     ALUNO DE GRADUAÇÃO        1
Length: 916948, dtype: int64

In [ ]:
emprestimos_biblioteca = emprestimos_biblioteca.drop_duplicates()

In [ ]:
emprestimos_biblioteca.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,nome_usuario,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,CARLOS EDUARDO DE ARAÚJO PADILHA,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,GUSTAVO DE SOUZA MEDEIR0S,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,BISMARCK LUIZ SILVA,ALUNO DE GRADUAÇÃO
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,THIAGO LUCENA DE MACEDO GUEDES,ALUNO DE GRADUAÇÃO

In [ ]:
dados_exemplares = pd.read_parquet('https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_1-Importando_dados/dados_exemplares.parquet')
dados_exemplares

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
4,9,L000040,Acervo de Desbaste,Biblioteca Central Zila Mamede,ESPECIAL,691,14
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236